.w-100.h-100.d-flex.justify-content-center.align-items-center.bg-light
  .col-md-4.col-10
    .card.bg-white.p-2
      button.btn.btn-danger.text-start((click)='signInWithGoogle()')
        a.fa-brands.fa-google.text-white.ps-3.pe-4
        span Sign in with
          b.ms-1 Google
