.modal.d-block.bg-modal((click)='closeDialog()')
  .modal-dialog
    .modal-content(click-stop-propagation)
      form.was-validated(#createPostForm="ngForm")
        .modal-header
          .modal-title.h3 Create Post
          i.float-end.fa.fa-times(role='button', (click)='closeDialog()')
        .modal-body
          .col-12
            label.form-label(for='category') Category
            select.form-control.form-select#category([(ngModel)]='post.category', required, name='category')
              option(*ngFor="let each of categories;", [value]='each.value') {{each.name}}
          .col-12
            label.form-label(for='title') Title
            input.form-control#title([(ngModel)]='post.title', required, name='title')
          .col-12
            label.form-label(for='description') Description
            textarea.form-control#description([(ngModel)]='post.description', required, name='description')
          .col-12
            label.form-label(for='eventTime') Event Time
            input.form-control#eventTime([(ngModel)]='post.eventTime', name='eventTime', type='datetime-local')
          .col-12
            label.form-label(for='link') Link
            input.form-control#link([(ngModel)]='post.link', name='link')
        .modal-footer.border-0
          button.btn.btn-success.btn-sm([disabled]="!createPostForm.valid", (click)='createPost()') Create
